<tr>
	<td>
		<%= f.hidden_field :_destroy %>
		<%= link_to 'Delete', '#', class: 'remove_record' %>
	</td>
	<td><%= f.text_field :name , label: false %></td>
	<td><%= f.check_box :completed , label: false %></td>
	<td><%= f.text_field :due , label: false, as: :string %></td>
</tr>