<tr class="nested-fields">
	<td>
		<%= link_to_remove_association("Remove Tasks", f) %>
	</td>
	<td><%= f.text_field :name , label: false %></td>
	<td><%= f.check_box :completed , label: false %></td>
	<td><%= f.text_field :due , label: false, as: :string %></td>
</tr>